$primary-green: #82d598;
$primary-blue: #4a75be;
$primary-orange: #e79441;
$primary-magenta: #E10075;
$primary-background: #f2f2f2;
$primary-text: #555;

$rarity-normal: #d2d2d2;
$rarity-rare: #3b50e4;
$rarity-epic: #E10075;
$rarity-legendary: #e07416;

$md-magenta: (
    50 : #fce0ee,
    100 : #f6b3d5,
    200 : #f180ba,
    300 : #eb4d9e,
    400 : #e62689,
    500 : #e10075,
    600 : #df006c,
    700 : #da0061,
    800 : #d60057,
    900 : #cf0044,
    A100 : #fff6f9,
    A200 : #ffc3d3,
    A400 : #ff90ad,
    A700 : #ff779a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-green: (
        50 : #f0faf3,
        100 : #daf2e0,
        200 : #c1eacc,
        300 : #a8e2b7,
        400 : #95dba7,
        500 : #82d598,
        600 : #7ad090,
        700 : #6fca85,
        800 : #65c47b,
        900 : #52ba6a,
        A100 : #ffffff,
        A200 : #e8ffed,
        A400 : #b5ffc5,
        A700 : #9cffb1,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-orange: (
        50 : #fcf2e8,
        100 : #f8dfc6,
        200 : #f3caa0,
        300 : #eeb47a,
        400 : #eba45e,
        500 : #e79441,
        600 : #e48c3b,
        700 : #e08132,
        800 : #dd772a,
        900 : #d7651c,
        A100 : #ffffff,
        A200 : #ffe6d9,
        A400 : #ffc6a6,
        A700 : #ffb58c,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-blue: (
        50 : #e9eef7,
        100 : #c9d6ec,
        200 : #a5badf,
        300 : #809ed2,
        400 : #658ac8,
        500 : #4a75be,
        600 : #436db8,
        700 : #3a62af,
        800 : #3258a7,
        900 : #224599,
        A100 : #d6e1ff,
        A200 : #a3bcff,
        A400 : #7096ff,
        A700 : #5784ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-red: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);