$primary-color: #82d598;
$background-color: #f2f2f2;
$secondary-color: rgb(231, 148, 65);

$blue-color-light: rgb(115, 143, 192);
$blue-color: rgb(74, 117, 190);

$brand-primary:              #82d598 !default;
$brand-info:                 rgb(74, 117, 190) !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
