<table mat-table
       [dataSource]="data" class="example-table"
       matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event && row.state === LoadingState.COMPLETE ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [disabled]="row.state !== LoadingState.COMPLETE"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="imei">
        <th mat-header-cell *matHeaderCellDef>Imei</th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row.ual">{{row.imei}}</td>
    </ng-container>

    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let row">{{row.response?.model ?? row.model}}</td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="loadingState">
        <th mat-header-cell *matHeaderCellDef>Loading state</th>
        <td mat-cell *matCellDef="let row">{{row.state}}
            <mat-icon *ngIf="row.state === LoadingState.ERROR">warning</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.response?.state">
                <recykle-mono-state-icon [state]="row.response?.state"></recykle-mono-state-icon>
            </ng-container>
        </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
            Action
        </th>
        <td mat-cell *matCellDef="let row">
            <div class="action"
                 [ngSwitch]="row.state">
                <mat-icon *ngSwitchCase="LoadingState.ERROR" (click)="retry(row)">replay</mat-icon>
                <mat-icon *ngSwitchCase="LoadingState.COMPLETE" (click)="openDetail(row)">search</mat-icon>
                <mat-icon (click)="removeFromQueue(row)">close</mat-icon>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
