<div class="main-content">
    <div class="container-fluid">
        <div class="card">
<!--            <div class="card-header card-header-info">-->
<!--                <h4 class="card-title">Unauthorized</h4>-->
<!--                <p class="card-category">Fill phone data</p>-->
<!--            </div>-->
            <div class="card-body">
                <h3>Unauthorized</h3>
                <p>
                    You are not authorized to visit this page
                </p>
            </div>
        </div>
    </div>
</div>
