@import 'colors';

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.inner-content {
    padding: 15px;
    width: 95%;
    background: #fff;
    border-radius: 15px;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
